/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#A8D4Eb;
    color: #333;
  }
  
  /* Modern Image Slider */
  .slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  .slide {
    display: none;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Animation for Slider */
  .fade {
    animation: fade 10s infinite;
  }
  
  /* Feature Section */
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .feature:hover {
    transform: scale(1.05);
  }
  
  .feature img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
  
  .feature-text {
    padding: 20px;
    max-width: 600px;
  }
  
  .feature-text h2, .feature-text h3 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .feature-text p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .fun-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .fun-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 768px) {
    .feature {
      flex-direction: column;
    }
  
    .feature img {
      width: 100%;
      height: auto;
    }
  }
  