body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.pinimg.com/736x/07/9f/fc/079ffc1c7bc9f4ad54455bb2669073bf.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

main {
    padding: 5em 2em 2em 2em;
    margin-top: 50px;
}

.feature {
    display: flex;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.8);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

.feature img {
    width: 75px; /* Adjust the value to your preference */
    height: auto;
    border-radius: 5px;
    margin-right: 1em;
}

.feature-text {
    flex: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}